* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: #FFF0;
}

body {
    margin: 0;
    color: #636363;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media only screen and (min-width:600px) {
    /*     body {
        width: 500px;
        border: 1px solid #000;
        margin: 5vh auto;
        height: 90vh;
        overflow: hidden;
    }
    body .mainContainer {
        height: 90vh;
        overflow-y: hidden;
    } */
}

.mainContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

#navPannel {
    background: #e5e5e5;
    box-shadow: 3px 6px 7px #00000075;
    position: relative;
}

.navContent {
    width: 50px;
    max-width: 50px;
    overflow: hidden;
    transition: all .4s ease-in-out;
    margin-right: 54px;
}

#navTog:not(:checked)~.navContent {
    margin-right: 0px;
}

#navTog:checked~.navContent {
    margin-right: 54px;
}

.navContent ul,
.navContent li {
    margin: 0;
    padding: 0;
}

.navContent li {}

#navTog:checked~.navContent {
    width: 60vw;
    max-width: 225px;
}

#navTog {
    display: none
}

#showLabel,
#hideLabel {
    width: 20%;
    min-width: 50px;
    height: 100%;
    position: absolute;
    color: #fff;
    right: 0;
    background: linear-gradient(45deg, #9e9e9e75, #9e9e9e);
    cursor: pointer;
}

#navTog:checked~label>#hideLabel {
    display: inline;
}

#showLabel>img {
    transform: rotate(0deg);
    transition: all .3s;
    transition: all .3s;
    border: 1px solid #9f9a9a;
    margin: 5px;
    width: 80%;
    border-radius: 26px;
    box-shadow: 0 0 7px 2px #4c4a4a70;
}

#navTog:not(:checked)~label>#showLabel>img {
    transform: rotate(180deg);
}

#navTog~label {
    display: block;
    text-align: right;
}

.navLinkBtn {
    background: #ffffff;
    border: 1px solid #c2bebe;
    background: #ffffff;
    border: 1px solid #a5a5a5;
    padding: 10px;
    width: 94%;
    text-align: inherit;
    margin: 2px 7px;
    font-size: 1.2rem;
    white-space: nowrap;
    /* margin: 7px; */
    border-radius: 3px;
}

.header {
    background: white;
    overflow: hidden;
    min-width: 50px;
    /* width: 100%; */
    min-height: 149px;
    /* border: 1px solid #f2a8a8; */
    margin-bottom: 10px;
    padding: 7px;
    margin: 7px;
    border-radius: 4px;
}

.header img {
    max-width: 90px;
}

.header h1 {
    margin: 0;
    white-space: nowrap;
}

#playground {
    background: #e5e5e5;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.component,
iframe {
    width: calc(100%);
    min-width: calc( 100vw - 64px);
    height: 100%;
    border: 1px solid #a6a6a6;
    background: #FFF;
    padding: 10px;
    border-radius: 2px;
    overflow: auto;
}

.componentContent {
    max-width: 600px;
}

.downloadPrompt {
    display: none;
}

.downloadButton {
    background: #689f38;
    padding: 10px;
    color: #FFF;
    border: unset;
    border-radius: 3px;
    /* width: 94%; */
    /* margin-left: 3%; */
    font-size: 1.2rem;
    white-space: nowrap;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

.spinner {
    background: #22094766;
    width: calc( 100vw - 67px);
    position: absolute;
    top: 11px;
    left: 11px;
    height: 100vh;
    height: calc( 100vh - 21px);
    z-index: 11111;
    display: grid;
    justify-content: center;
    align-items: center;
}