*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: #FFF0;
}

body {
    margin: 0;
    color: #636363;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.mainContainer {
    display: flex;
    /* grid-template-columns: auto 1fr; */
    /* overflow-y: hidden; */
    height: 100vh;
    
}

#navPannel {
    background: #e5e5e5;
    box-shadow: 3px 6px 7px #00000075;
    position: relative;
}
.navContent {
    
    width: 50px;
    max-width: 50px;
    overflow: hidden;
    transition: all .4s ease-in-out;
    margin-right: 54px;
}

#navTog:not(:checked) ~ .navContent{
    margin-right: 0px;
}

#navTog:checked ~ .navContent{
    margin-right: 54px;
}

.navContent ul, .navContent li{
    margin: 0;
    padding: 0;
}

.navContent li{
    
}

#navTog:checked ~ .navContent{
    width: 60vw;
    max-width: 225px;
}
 
#navTog{
    display: none
}
  
#showLabel, #hideLabel{
    

    width:20%;
    min-width: 50px;
    height: 100%;
    position: absolute;
    color: #fff;
    right: 0;
    background: linear-gradient(45deg, #9e9e9e75, #9e9e9e);
    cursor: pointer;
    
}


#navTog:checked ~ label > #hideLabel{
    display: inline;
}

#showLabel > img{
    transform: rotate(0deg);
    transition: all .3s;
    transition: all .3s;
    border: 1px solid #9f9a9a;
    margin: 5px;
    width: 80%;
    border-radius: 26px;
    box-shadow: 0 0 7px 2px #4c4a4a70;
}
#navTog:not(:checked) ~ label > #showLabel > img{
    transform: rotate(180deg);
}

#navTog ~ label {
    display: block;
    text-align: right;
}

.navLinkBtn {
    background: #ffffff;
    border: 1px solid #c2bebe;
    background: #ffffff;
    border: 1px solid #a5a5a5;
    padding: 10px;
    width: 94%;
    text-align: inherit;
    margin: 2px 7px;
    font-size: 1.2rem;
    white-space: nowrap;
    /* margin: 7px; */
    border-radius: 3px;
}

.header {
    background: white;
    overflow: hidden;
    min-width: 50px;
    /* width: 100%; */
    min-height: 149px;
    /* border: 1px solid #f2a8a8; */
    margin-bottom: 10px;
    padding: 7px;
    margin: 7px;
    border-radius: 4px;
}

.header img {
    max-width: 90px;
}

.header h1 {
    margin: 0;
    white-space: nowrap;
}

#playground {
    background: #e5e5e5;
    padding: 10px;
    overflow: hidden;
}

.component,iframe {

    width:  calc(100% );
    height: 100%;
    border: 1px solid #a6a6a6;
    background: #FFF;
    padding: 10px;
    border-radius: 2px;
}

.downloadPrompt{
    display: none;
}

.downloadButton {
    background: #689f38;
    padding: 10px;
    color: #FFF;
    border: unset;
    border-radius: 3px;
    /* width: 94%; */
    /* margin-left: 3%; */
    font-size: 1.2rem;
    white-space: nowrap;
}