<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            max-width: 680px;
            margin: auto;
            background: #b1b1b133;
            margin: 16px auto;
            width: 85%;

        }
    </style>
</head>

<body>
    <a class="twitter-timeline" data-lang="en" data-dnt="true" data-theme="light"
        href="https://twitter.com/PrnySarkar?ref_src=twsrc%5Etfw">🍄</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>

</html>