<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.addEventListener('load', _ => {

            const channel = new BroadcastChannel('iframeLoadComplete');
            channel.postMessage({});
        })
    </script>

    <style>
        * {
            box-sizing: border-box;
        }
        
        html {
            scroll-behavior: smooth;
            -webkit-tap-highlight-color: #FFF0;
        }
        
        body {
            margin: auto;
            color: #636363;
            font-family: 'Open Sans', sans-serif;
            max-width: 600px;
        }
    </style>
</head>

<body>
    <h2>
        🚩 About WebBleed
    </h2>
    <p>
        The main purpose of WebBleed is to demonstrate all of the cutting edge WebAPIs. WebBleed itself is a PWA using lot of latest web APIs, feel free to look into to the <a target="_blank" href="https://github.com/PranoySarkar/WebBleed">codebase</a>.
    </p>
    <p>
        As these are the bleeding edge APIs, things might not support on older versions, please upgrade your browser to latest version, if still not resolve feel free to <a target="_blank" href="https://github.com/pranoysarkar">contact me</a>.
    </p>
    <p>

    </p>
    <h2>
        Get notification when new API added
        <button onclick="requestPushNotification()">
            Enable Push Notification
        </button>
    </h2>
    <script>
        async function requestPushNotification() {
            try {
                const status = await navigator.permissions.query({
                    name: 'periodic-background-sync',
                });
                console.log(status)
                    // alert(JSON.stringify(status.state));
            } catch (e) {
                //  alert(e)
            }

        }
    </script>
    <a class="twitter-timeline" data-lang="en" data-dnt="true" data-theme="light" href="https://twitter.com/PrnySarkar?ref_src=twsrc%5Etfw"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


</body>

</html>